.panel{
    position: relative;
    height: 200px;
    border: 1px solid black;
}

.games{
    position: relative;
    height: 200px;
    border: 1px solid black;
}

.game{
    display: none;
    position: relative;
    height: 200px;
    border: 1px solid black;
}

.game_object{
    position: relative;
    height: 150px;
    width: 150px;
    background: #cdc948;
    border: 1px solid black;
}