<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arena</title>
    <link rel="stylesheet" href="/css/arena.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Панель управления</h4>
            <div class="panel"></div>
        </div>
        <div class="col-md-4">
            <h4>Статус</h4>
            <div class="status"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Список заявок на игру:</h4>
            <div class="games"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="game">
                <div class="game_object">Click me!</div>
                <div class="source"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="result"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="/homepage" class="btn btn-primary">Домой</a>
        </div>
    </div>
</div>

<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
            {{body}}
        </div>
    </div>
</script>

<script id="game-list-with-button-template" type="text/x-handlebars-template">
    <table class="table">
        <tr>
            <th>#</th>
            <th>Login</th>
            <th>Action</th>
        </tr>
        {{#list games}}
        <tr>
            <td> {{gameSessionId}}</td>
            <td>{{login}}</td>
            <td><button class="btn btn-default accept" data-gamesessionid="{{gameSessionId}}">Принять заявку</button></td>
        </tr>
        {{/list}}
    </table>
</script>

<script id="game-list-without-button-template" type="text/x-handlebars-template">
    <table class="table">
        <tr>
            <th>#</th>
            <th>Login</th>
            <th>Action</th>
        </tr>
        {{#list games}}
        <tr>
            <td> {{gameSessionId}}</td>
            <td>{{login}}</td>
        </tr>
        {{/list}}
    </table>
</script>

<script id="panel-apply-template" type="text/x-handlebars-template">
    <button class="btn btn-primary apply">Подать заявку</button>
</script>

<script id="panel-cancel-template" type="text/x-handlebars-template">
    <button class="btn btn-danger cancel">Отменить заявку</button>
    <br/>
    <b>Ждем достойного соперника... </b>
</script>

<script id="source-template" type="text/x-handlebars-template">
    Вы {{click_count_player}} - Соперник {{click_count_enemy}}
</script>

<script id="finish-game-template" type="text/x-handlebars-template">
    Счет: {{score_player}} - {{score_enemy}}
    <br/>Результат: {{result}}
</script>

<script id="user-data" type="text/x-handlebars-template">
    <div>Побед: {{wins}}</div>
    <div>Поражений: {{defeats}}</div>
    <div>Ничьих: {{draws}}</div>
</script>

<script src="/js/lib/jquery-1.12.2.min.js"></script>
<script src="/js/lib/spin.min.js"></script>
<script src="/js/lib/handlebars-v4.0.5.js"></script>
<script>
//    Handlebars.registerHelper('list', function(context, options) {
//    var ret = "<ul>";
//
//        for(var i=0, j=context.length; i<j; i++) {
//        ret = ret + "<li>" + options.fn(context[i]) + "</li>";
//        }
//
//        return ret + "</ul>";
//    });

    Handlebars.registerHelper('list', function(context, options) {
        var ret;

        for(var i=0, j=context.length; i<j; i++) {
            ret = options.fn(context[i]);
        }

        return ret;
    });
</script>
<script src="/js/arena.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>