<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
Добро пожаловать в игру...
<br/>

<#if message??>
    Message: ${ message }
</#if>
<br/>
<#if flash??>
    Flash: ${ flash }
</#if>
<br/>
<#if login??>
    Hi ${login}, How are you?
</#if>
<br/>
<#if profile??>
    Login: ${profile.login}
    <#if profile.email??>
        Email: ${profile.email}
    </#if>
</#if>

<h2>Links</h2>
<a href="/arena">Arena</a><br/><br/>
<a href="/signup">Register</a><br/>
<a href="/signin">Login</a><br/>
<a href="/signout">Logout</a><br/>
<script src="/js/main.js"></script>
</body>
</html>