<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Links</h4>
            <a href="/arena" class="btn btn-primary">Arena</a><br/><br/>
            <a href="/signup" class="btn btn-default">Register</a><br/>
            <a href="/signin" class="btn btn-default">Login</a><br/>
            <a href="/signout" class="btn btn-danger">Logout</a><br/>
        </div>
        <div class="col-md-4">
            Welcome in game...
            <br/>

            <#if message??>
                Message: ${ message }
            </#if>
            <br/>
            <#if profile??>
                Hi <b>${profile.login}</b>, How are you?
            </#if>
        </div>
    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>